
@layer components{ 
    .heading1{ 
        font-size:4rem;
        font-family: 'Jacques Francois Shadow', serif;   
    }
    .heading2{ 
        font-size:3rem; 
        font-family: 'Jacques Francois', serif;
    }
    .heading3{ 
        font-size:2.5rem; 
        font-family: 'Jacques Francois', serif;
    }
    .heading4{
        font-size:2rem;
        font-family: 'Jacques Francois', serif;
    }
    .paragraph{ 
        font-size:1rem; 
        font-family:'Jacques Francois', serif;
    }
    .myButton{ 
        display: inline-block;
        padding: 0.75rem 1.5rem;
        background-color: #007BFF;
        color: #fff;
        text-decoration: none;
        border-radius: 0.25rem;
        transition: background-color 0.3s ease;
    }
}
